@charset "UTF-8";
body {
  background-color: #F5F5F5;
}

h2 {
  color: #ec816c;
  font-weight: 500;
}

h4 {
  color: #ec816c;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2;
}

h5 {
  color: #ec816c;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #505050;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.nav-bar {
  background: #7BB29B;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100px;
  z-index: 3;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-content: center;
}

.logo {
  width: 110px;
}

.logo-nav-bar {
  float: left;
}

#nav-menu-container {
  margin-top: 30px;
  margin-left: 50px;
}

.nav-menu, .nav-menu * {
  list-style: none;
  display: flex;
}

.nav-menu {
  margin-left: 200px;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
  font-size: 18px;
  float: left;
}

.nav-menu .cad-log-buttons {
  margin-left: 65px;
}

.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 17px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover>a, .nav-menu>.menu-active>a {
  color: #ec816c;
}

.nav-menu>li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(244, 245, 247, 0.25);
  background: #fff;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover>a {
  color: #ec816c;
}

.nav-menu ul ul {
  margin: 0;
}

.home-page-tit {
  width: 100%;
  height: 670px;
  background: url(../img/-bg.png) center bottom no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: 30px;
}

.home-page-tit .home-page-tit-container {
  padding-top: 85px;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.home-page-tit h1 {
  font-size: 85px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 35px;
  color: #ec816c;
}

.home-page-tit .home-page-sub-tit {
  color: #ec816c;
  margin-bottom: 20px;
  font-size: 35px;
  font-style: bold;
  width: 470px;
}

.home-page-tit img {
  width: 1000px;
}

.img-card {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.fa {
  font-size: 13px;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #ec816c;
  line-height: 1;
  color: #fff;
  padding: 7px 12px 13px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

.back-to-top:focus {
  background: #ec816c;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #dcf5d6;
  color: #fff;
}

.scroll-nav-bar {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 4px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #555;
  font-size: 24px;
}

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 18px;
  overflow: hidden;
  padding: 6px 22px 6px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  letter-spacing: 0;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #ec816c;
}

#mobile-nav ul .menu-item-active {
  color: #ec816c;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #fff;
}

.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

.section-title {
  margin-bottom: 80px;
}

.section-title h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #626262;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.inicio {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.background-inicio {
  background-color: #fdecec;
}

.inicio .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 0s;
}

.inicio .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

.inicio .feature-block h4 {
  margin-bottom: 20px;
}

.inicio .feature-block p {
  margin-bottom: 20px;
}

.inicio .feature-block a {
  color: #007bff;
  font-size: 12px;
  font-weight: 600;
  text-decoration: underline;
  text-transform: capitalize;
  transition: 0.3s;
}

.inicio .feature-block a:hover {
  color: #ec816c;
}

.inicio img {
  max-width: 100%;
}

.inicio .about-content {
  padding-top: 60px;
}

.inicio .about-content h2 {
  color: #ec816c;
  font-size: 39px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.inicio .about-content span {
  font-weight: 700;
  padding-right: 10px;
  text-transform: uppercase;
}

.inicio .about-content ul li {
  line-height: 36px;
}

.inicio .about-content ul li .fa {
  padding-right: 20px;
}

#features {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#features .feature-block {
  background: #fff none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
  margin-bottom: 20px;
}

#features .feature-block p {
  margin-bottom: 0;
}

.owl-dot.active>span {
  height: 10px !important;
  width: 10px !important;
}

.owl-theme .owl-dots .owl-dot span {
  height: 10px !important;
  width: 10px !important;
}

.owl-item img {
  cursor: pointer;
}

.owl-stage-outer {
  margin-bottom: 30px;
}

.owl-theme .owl-nav {
  display: show;
  margin-top: 10px;
}

.owl-next:hover {
  background: #ec816c !important;
}

.owl-prev:hover {
  background: #ec816c !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ec816c;
}

.owl-theme .owl-dots .owl-dot span {
  background: #ddd;
}

.carousel-image{
  width: 210px;
  height: 455px;
}

#video {
  background: url(../img/Fundo.jpg) center center;
  background-repeat: no-repeat;
  background-size: cover;
  
  overflow: hidden;
}

#video .overlay {
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
}

#video .overlay .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ec816c 50%, rgba(113, 197, 93, 0.15) 52%);
  border-radius: 50%;
  display: block;
  margin: 153px auto 0;
  position: relative;
  overflow: hidden;
}

#video .overlay .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#video .overlay .play-btn:before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate1 2s;
  animation: pulsate1 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

#video .overlay .play-btn:hover::after {
  border-left: 15px solid #ec816c;
  -webkit-transform: scale(20);
  transform: scale(20);
}

#video .overlay .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate1 {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes pulsate2 {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

#testimonials .testimonials-content {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  padding: 49px 20px;
}

#testimonials .testimonials-content::before {
  color: #ec816c;
  content: "ï„Ž";
  display: inline-block;
  font: 70px/1 FontAwesome;
  position: absolute;
  right: 43px;
  text-align: left;
  top: -29px;
}

#testimonials .top-top>h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#testimonials .top-top>h4 {
  font: 700 16px;
}

#testimonials .top-top span {
  font-size: 16px;
  font-weight: 300;
  margin-left: 26px;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  bottom: 0 !important;
  z-index: 15;
  width: auto;
  padding-left: 0;
  margin: 30px auto 0 auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
}

.carousel-indicators li {
  margin: 0;
}

#blog .block-blog img {
  width: 100%;
}

#blog .block-blog .content-blog {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  min-height: 125px;
  padding: 20px 10px;
  width: 100%;
}

#blog .block-blog .content-blog h4 {
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 0;
  font-size: 16px;
}

#blog .block-blog .content-blog h4 a {
  color: #555;
  text-decoration: none;
  transition: 0.3s;
}

#blog .block-blog .content-blog h4 a:hover {
  color: #ec816c;
}

#blog .block-blog .content-blog>span {
  float: left;
  font-size: 12px;
}

#blog .block-blog .content-blog a.readmore {
  color: #e7a3a3;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0;
  text-transform: capitalize;
}

#blog .block-blog .content-blog a.readmore:hover {
  color: #ec816c;
}

#newsletter {
  background: transparent url(../img/fotofundo.jpg) no-repeat center top fixed;
  background-size: cover;
}

#newsletter .overlay {
  background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.2) 95%);
  height: 100%;
  width: 100%;
}

#newsletter .form-control {
  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 0;
  color: #888;
  font-size: 11px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  width: 70%;
  background: #fff;
}

#newsletter .form-control:focus {
  border-color: #ec816c;
  box-shadow: none;
  outline: 0 none;
}

#newsletter .btn {
  background: #ec816c;
  border: 0;
  border-radius: 0;
  height: 50px;
  width: 30%;
  transition: 0.3s;
}

#newsletter .btn:hover {
  background: #ec816c;
}

#newsletter .btn .fa {
  padding-right: 10px;
}

#newsletter ul {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 0;
}

#newsletter ul li {
  background: #ec816c;
  border-radius: 50px;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  width: 35px;
  transition: 0.3s;
}

#newsletter ul li:hover {
  background: #ec816c;
}

#newsletter ul li .fa {
  color: #fff;
}

#contato {
  background: #fff;
}

#contato .info {
  color: #222;
}

#contato .info i {
  font-size: 32px;
  color: #ec816c;
  float: left;
}

#contato .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

#contato .info .email p {
  padding-top: 5px;
}

#contato .social-links {
  padding-bottom: 20px;
}

#contato .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #ec816c;
  color: #fff;
  line-height: 1;
  padding: 6px 0 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#contato .social-links a:hover {
  background: #ec816c;
  color: #fff;
}

#contato .form #sendmessage {
  color: #ec816c;
  border: 1px solid #ec816c;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contato .form #errormessage {
  color: #ec816c;
  display: none;
  border: 1px solid #ec816c;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contato .form #sendmessage.show, #contato .form #errormessage.show, #contato .form .show {
  display: block;
}

#contato .form .validation {
  color: #ec816c;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contato .form input, #contato .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 12px 10px;
  line-height: 1;
}

#contato .form button[type="submit"] {
  background: #ec816c;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  margin-left: 230px;
}

#contato .form button[type="submit"]:hover {
  background: #ec816c;
}

.footer {
  background: #ec816c;
  padding-top: 50px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logofundo {
  width: 200px;
  height: 200px;
}

.card-blog {
  width: 340px;
  height: 315px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
}

.card-blog>img {
  width: 340px;
  height: 180px;
}

.card-blog-text {
  padding: 10px;
  width: 340px;
  height: 135px;
}

.date {
  color: #ec816c;
  font-size: 15px;
}

.card-blog a {
  float: right;
}

.card-blog:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

.text-center button{
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

@media (max-width:1200px) {
  .inicio .feature-block {
    padding: 30px 05px;
  }
  #features .feature-block {
    padding: 60px 4px;
  }
  #nav-menu-container {
    margin-left: -20px;
  }
}

@media (max-width:1199px) {
  .card-blog {
    width: 300px;
    height: 340px;
  }
  .card-blog>img {
    width: 300px;
    height: 180px;
  }
  .card-blog-text {
    padding: 5px;
    width: 300px;
    height: 135px;
  }
}

@media (max-width: 1023px) {
  .nav-menu {
    display: none;
  }
  #nav-menu-container {
    display: show;
  }
  #mobile-nav-toggle {
    display: inline;
  }
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section-title {
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .inicio .feature-block {
    margin-bottom: 30px;
  }
  #blog .block-blog {
    margin-bottom: 30px;
  }
  .card-blog {
    width: 340px;
    height: 315px;
    margin-top: 20px;
  }
  .card-blog>img {
    width: 340px;
    height: 180px;
  }
  .card-blog-text {
    padding: 10px;
    width: 340px;
    height: 135px;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
  .home-page-tit h1 {
    font-size: 60px;
    line-height: 36px;
  }
  .home-page-tit h2 {
    line-height: 24px;
    margin-bottom: 30px;
  }
  .home-page-tit img {
    width: 100%;
    margin-left: 0px;
  }
}

@media (max-width: 575px) {
  .home-page-tit .btns a {
    margin: 4px 8px;
  }
  #newsletter .form-control {
    margin-bottom: 30px;
    width: 100%;
  }
  #newsletter .btn {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .home-page-tit {
    height: 460px;
}
.home-page-tit .home-page-sub-tit { 
  width: auto;
}
}