p {
    margin-bottom: 0;
}

.box-one {
    min-height: 700px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 75%;
    height: 550px;
    max-width: 1000px;
    min-width: 700px;
    background-color: #7BB29B;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    display: flex;
    flex-direction: row;
}

.dashboard aside {
    margin: 0;
    width: 20%;
    height: 100%;
    background-color: #ec816c;
}


.dashboard aside ul{
    height: 100%;
    margin: 0;
    padding: 30px 10px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.dashboard aside ul li{
    margin: 20px 0;
    font-weight: bold;
    cursor: pointer;
}


.dashboard aside ul li:hover{
    text-decoration: underline;
}

/* Minhas informações */

.dashboard-body {
    width: 80%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-img {
    width: 100%;
    height: 30%;
    position: relative;
    cursor: pointer;
}

.img-usr {
    height: 100%;
    width: 167px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 60%;
    margin: 0 auto;
}

.box-name {
    word-wrap: break-word;
}

.name-usr {
    font-size: 30px;
    word-wrap: break-word;
}


.text-info-usr {
    width: 100%;
    font-size: 18px;
    word-wrap: break-word;
}

/* ONG FAV */ 

.box-ong-favorite {
    width: 90%;
    height: 28%;
    background-color: #f5f5f5;
    margin: 0 auto;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.box-list {
    height: 480px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.img-ong-favorite {
    width: 20%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: 100%;
}

.title-ong-favorite {
    height: 32%;
    width: 78%;
}

.descricao-ong-favorite {
    width: 78%;
    word-wrap: break-word;
}

.button-color-paginate {
    background-color: #ec816c !important;
}

/* MODAL */

.change-photo-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .5);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-modal {
    width: 30%;
    height: 50%;
    min-width: 322px;
    min-height: 284px;
    border-radius: 5px;
    background-color: #7BB29B;
    position: relative;
}

.box-header-model button{
    position: absolute;
    right: 0; 
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    background-color:  #7BB29B;
    color: #ffffff;
}

.box-header-model h3 {
    text-align: center;
    color: #ffffff;
}

.box-content-model {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type='file'] {
    display: none;
}

.label-photo-model {
    background-image: url('../img/upload.svg');
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: auto;
}

.box-message-error {
    height: 40px;
    width: 90%;
    color: red;
    text-align: center;
}

.box-content-model button{
    width: 100px;
    height: 40px;
    background-color: #ec816c ;
    border:none ;
    cursor: pointer;
}

.anulation {
    display: none;
    visibility: hidden;
} 

button:focus {
    outline: none;
}
