@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

ul {
    list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: #ffffff;

}

body {
    background-color: #F5F5F5;
}

main {
    width: 100%; 
}

header {
    background-color: #7BB29B;
    position: fixed;
    height: 100px;
    z-index: 2;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    margin: 0 25%;
}

.box-info-header {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.box-info-header .box-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}

.box-info-header .box-img img{
    width: 100%;
}

.box-buttons-navbar {
    width: 30%;
}

.box-buttons-navbar > ul{
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.box-buttons-navbar > ul > li{
    margin: 0 20px;
    font-weight: bold;
}

.box-buttons-navbar > ul > li:hover{
    text-decoration: underline;
    color: #fff;
}

.style-fixed-ong{
    padding-top: 125px;

}

.box-paginate {
    display: flex;
    justify-content: center;
}

.box-paginate button {
    padding: 9px;
    border-radius: 29px;
    width: 44px;
    background-color: #6BB29B;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 0 5px ;
}

footer {
    width: 100%;
    height: 250px;
    background-color: #ec816c;
    display: flex;
    align-items: center;
    justify-content: center;
}