@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

button:focus {
    outline: none;
}

.box-content-ong{
    padding-top: 120px;
    margin: 0 auto;
    width: 1000px;
    min-height: 1000px;
}

/* BOX-ONE */

.box-one {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.box-potho-ong {
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

.box-title {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 400px;
    background-color: #7BB29B;
    padding: 20px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

.box-buttons {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.box-buttons button {
    height: 40px;
    width: 40px;
    margin: 20px 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: none;
    cursor: pointer;
}

.box-buttons button:focus {
    outline: none;
}

.box-title h1 {
    font-size: 60px;
}

/* BOX-TWO */

.box-two {
    width: 100%;
    padding-top: 90px;
    position: relative;
}

.box-info {
    position: absolute;
    top: 0;
    background-color: #ec816c;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

.box-info h2 {
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.box-descricao {
    width: 60%;
    height: 100%;
    background-color: #7BB29B;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    margin: 0 20%;
}

.box-descricao h2 {
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.box-descricao p {
    color: #ffffff;
    font-weight: bold;
    word-wrap: break-word;
}

/* BOX-THREE */

.box-three {
    width: 45%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 160px;
}

.box-end {
    width: 55%;
    margin: 0 auto;
    background-color: #7BB29B;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

.box-tel {
    width: 50%;
    position: absolute;
    right: 0;
    background-color:#ec816c ;
    bottom: -120px;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

/* BOX-FOUR */

.box-four {
   background-color:#7BB29B ; 
   width: 40%;
   min-height: 500px;
   margin: 0 auto;
   -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
   -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
   box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

#box-items {
    min-height: 368px;
}

.box-list ul {
    list-style: circle;
}

.box-list li {
    margin: 0 10%;
}

.box-list a:hover {
    text-decoration: underline;
}

.box-paginate button{
    background-color: #ec816c;
    margin: 0 5px
}

/* MODAL */

.report-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .5);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-modal {
    background-color: #ec816c;
    width: 40%;
    max-width: 500px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    position: relative;
    border-radius: 5px;
}

.box-header-model {
    width: 100%;
    text-align: center;
}

.box-header-model h4 {
    font-weight: bold;
    color: #ffff;
}

.box-header-model button {
    position: absolute;
    top: -21px;
    right: -24px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #7BB29B;
    color: #ffff;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Oswald', sans-serif; 
}

.box-content-model {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.textarea-model {
    width: 100%;
    height: 150px;
    margin: 0 auto;
    resize: none;
    padding: 10px;
}

.box-content-model button {
    height: 40px;
    width: 70px;
    border: none;
    background-color: #7BB29B;
    color: #ffff;
    cursor: pointer;
}

.box-message-error {
    width: 100%;
    height: 40px;

}

.anulation {
    display: none;
}




