@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Poppins;
    
}


body,html {
    height:100%;
}

a {
    font-size:14px;
    line-height:1.7;
    color:rgb(83, 81, 81)233, 10, 10);
    margin:0;
    transition:all .4s;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s}

a:focus {
    outline:none!important
}

}

ul,li {
    margin:0;
    list-style-type:none
}

input {
    outline:none;
    border:none
}

textarea { 
    outline:none;
    border:none
}

textarea:focus,input:focus {
    border-color:transparent!important
}

input:focus::-webkit-input-placeholder {
    color:transparent
}

input:focus:-moz-placeholder {
    color:transparent
}

input:focus::-moz-placeholder {
    color:transparent
}

input:focus:-ms-input-placeholder {
    color:transparent
}

textarea:focus::-webkit-input-placeholder {
    color:transparent
}

textarea:focus:-moz-placeholder {
    color:transparent
}

textarea:focus::-moz-placeholder {
    color:transparent
}

textarea:focus:-ms-input-placeholder {
    color:transparent
}

input::-webkit-input-placeholder {
    color:#ec816c
}

input:-moz-placeholder{
    color:#ec816c
}

input::-moz-placeholder {
    color:#ec816c
}

input:-ms-input-placeholder {
    color:#ec816c
}


textarea::-webkit-input-placeholder {
    color:#fff
}

textarea:-moz-placeholder {
    color:#fff
}

textarea::-moz-placeholder {
    color:#fff
}

textarea:-ms-input-placeholder {
    color:#fff
}

label {
    margin:0;
    display:block
}

button {
    outline:none!important;
    border:none;
    background:0 0
}

button:hover { 
    cursor:pointer
}

iframe {
    border:none!important
}

.txt1 {
    font-size:13px;
    color:#ec816c;
    line-height:1.5;
    margin-right: 190px;
}

.login {
    width:100%;
    margin:0 auto
}

.container-login {
    width:100%;
    min-height:100vh;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    padding:15px;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    z-index:1
}

.container-login::before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    top:0;left:0;
    background-color:rgba(15, 12, 12, 0.486)
}

.wrap-login {
    width:500px;
    border-radius:10px;
    overflow:hidden;
    padding:55px 55px 37px;
    background: rgba(164, 219, 199, 1);
   
}

.login-form {
    width:100%
}

.login-form-logo {
    font-size:60px;
    color:#333;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    justify-content:center;
    align-items:center;
    width:300px;
    height:150px;
    margin:0 auto;
    margin-top: 10px;
}

.login-form-title {
    font-size:40px;
    color: #ec816c;
    line-height:1.2;
    text-align:center;
    display:block;
    margin-top: 50px;
}
.wrap-input {
    width:100%;
    position:relative;
    border-bottom:2px solid rgba(255,255,255,.24);
    margin-bottom:30px
}

.input {
    font-size:16px;
    color:#fff;
    line-height:1.2;
    display:block;
    width:100%;
    height:45px;
    background:0 0;
    padding:0 5px 0 38px
}
    
.focus-input {
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none
}

.focus-input::before { 
    content:"";
    display:block;
    position:absolute;
    bottom:-2px;
    left:0;
    width:0;
    height:2px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s;
    background:#fff}

.focus-input::after {
    font-size:22px;
    color:#fff;
    content:attr(data-placeholder);
    display:block;
    width:100%;
    position:absolute;
    top:6px;
    left:0;
    padding-left:5px;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.input:focus {
    padding-left:5px
}

.input:focus+.focus-input::after {
    top:-22px;
    font-size:18px
}

.input:focus+.focus-input::before {
    width:100%
}

.has-val.input+.focus-input::after {
    top:-22px;
    font-size:18px
}

.has-val.input+.focus-input::before {
    width:100%
}

.has-val.input {
    padding-left:5px
}

.contact-form-checkbox {
    padding-left:5px;
    padding-top:5px;
    padding-bottom:35px
}

.input-checkbox {
    display:none
}

.label-checkbox {
    font-size:13px;
    color:#ec816c;
    line-height:1.2;
    display:block;
    position:relative;
    padding-left:26px;
    cursor:pointer;
    margin-right: 180px;
}

.label-checkbox::before {
    content:"\f26b";
   font-size:13px;
   color:transparent;
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-box;
   display:-ms-flexbox;
   display:flex;
   justify-content:center;
   align-items:center;
   position:absolute;
   width:16px;
   height:16px;
   border-radius:2px;
   background:#fff;
   left:0;
   top:50%;
   -webkit-transform:translateY(-50%);
   -moz-transform:translateY(-50%);
   -ms-transform:translateY(-50%);
   -o-transform:translateY(-50%);
   transform:translateY(-50%)}

.input-checkbox:checked+.label-checkbox::before {
    color:#555
}

.container-login-form-btn {
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}

.login-form-btn {
   font-size:16px;
   color:#555;
   line-height:1.2;
   display:-webkit-box;
   display:-webkit-flex;
   display:-moz-box;
   display:-ms-flexbox;
   display:flex;
   justify-content:center;
   align-items:center;
   padding:0 20px;
   min-width:120px;
   height:50px;
   border-radius:25px;
   background:#9152f8;
   background:-webkit-linear-gradient(bottom,#ec816c,#fad4cd);
   background:-o-linear-gradient(bottom,#7579ff,#b224ef);
   background:-moz-linear-gradient(bottom,#7579ff,#b224ef);
   background:linear-gradient(bottom,#7579ff,#b224ef);
   position:relative;
   z-index:1;
   -webkit-transition:all .4s;
   -o-transition:all .4s;
   -moz-transition:all .4s;
   transition:all .4s
}

.login-form-btn::before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;
    border-radius:25px;
    background-color:#fff;
    top:0;
    left:0;
    opacity:1;
    -webkit-transition:all .4s;
    -o-transition:all .4s;
    -moz-transition:all .4s;
    transition:all .4s
}

.login-form-btn:hover {
    color:#fff
}

.login-form-btn:hover:before { 
    opacity:0 
}
    @media(max-width:576px)
    {
    .wrap-login {
        padding:55px 15px 37px}
    }

    .validate-input {
        position:relative
    }

    .alert-validate::before {
        content:attr(data-validate);
        position:absolute;
        max-width:70%;
        background-color:#fff;
        border:1px solid #c80000;
        border-radius:2px;
        padding:4px 25px 4px 10px;
        top:50%;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        transform:translateY(-50%);
        right:0;
        pointer-events:none;
        color:#c80000;
        font-size:13px;
        line-height:1.4;
        text-align:left;
        visibility:hidden;
        opacity:0;
        -webkit-transition:opacity .4s;
        -o-transition:opacity .4s;
        -moz-transition:opacity .4s;
        transition:opacity .4s
    }
    
    .alert-validate:hover:before {
        visibility:visible;
        opacity:1
    }

    @media(max-width:992px) {
        .alert-validate::before {
            visibility:visible;
            opacity:1
    }}