@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

button:focus {
    outline: none;
}

.box-content-ong{
    padding-top: 120px;
    margin: 0 auto;
    width: 1000px;
    min-height: 1000px;
}

/* BOX-ONE */

.box-one {
    width: 70%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    display: flex;
}

.box-potho-ong {
    width: 80%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
}

.box-potho-ong button {
    position: absolute;
    background-image: url('../../img/upload.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-color: rgba(236, 129, 108, .8);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    transition: 0.5s;
}

/* BOX TITLE */

.box-title {
    position: absolute;
    right: 0;
    bottom: 20px;
    width: 400px;
    background-color: #7BB29B;
    padding: 20px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

.box-title button {
    width: 50px;
    height: 50px;
    background-image: url("../../img/upload.svg");
    background-color: rgba(236, 129, 108, .8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer

}

.box-buttons button:focus {
    outline: none;
}

.box-title h1 {
    font-size: 60px;
}

/* BOX-TWO */

.box-two {
    width: 100%;
    padding-top: 90px;
    position: relative;
}

.box-info {
    position: absolute;
    top: 0;
    background-color: #ec816c;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

.box-info h2 {
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.box-descricao {
    width: 60%;
    height: 100%;
    background-color: #7BB29B;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    margin: 0 20%;
}

.box-descricao h2 {
    color: #ffffff;
    width: 100%;
    text-align: center;
}

.box-descricao p {
    color: #ffffff;
    font-weight: bold;
    word-wrap: break-word;
}

/* BOX-THREE */

.box-three {
    width: 45%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 160px;
}

.box-end {
    width: 55%;
    margin: 0 auto;
    background-color: #7BB29B;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

.box-tel {
    width: 50%;
    position: absolute;
    right: 0;
    background-color:#ec816c ;
    bottom: -120px;
    -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
    box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

/* BOX-FOUR */

.box-four {
   background-color:#7BB29B ; 
   width: 40%;
   min-height: 500px;
   margin: 0 auto;
   -webkit-box-shadow: 5px 3px 22px 0px rgba(49, 50, 50, 0.36);
   -moz-box-shadow:    5px 3px 22px 0px rgba(49, 50, 50, 0.36);
   box-shadow:         5px 3px 22px 0px rgba(49, 50, 50, 0.36);
}

#box-items {
    min-height: 368px;
}

.box-list ul {
    list-style: circle;
}

.box-list li {
    margin: 0 10%;
}

.box-list a:hover {
    text-decoration: underline;
}

.box-paginate button{
    background-color: #ec816c;
    margin: 0 5px
}

/* MODAL CHANGE PHOTO */

.change-photo-modal,
.change-title-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .5);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-modal {
    width: 30%;
    height: 50%;
    min-width: 322px;
    min-height: 284px;
    border-radius: 5px;
    background-color: #7BB29B;
    position: relative;
    max-height: 370px;
    min-height: 350px;
}

.box-header-model button{
    position: absolute;
    right: 0; 
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border:none;
    cursor:pointer;
    background-color:  #7BB29B;
    color: #ffffff;
}

.box-header-model h3 {
    text-align: center;
    color: #ffffff;
}

.box-content-model {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type='file'] {
    display: none;
}

.label-photo-model {
    background-image: url('../../img/upload.svg');
    background-repeat: no-repeat;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: auto;
}

.box-message-error {
    height: 40px;
    width: 90%;
    color: red;
    text-align: center;
}

.box-content-model button{
    width: 100px;
    height: 40px;
    background-color: #ec816c ;
    border:none ;
    cursor: pointer;
}

.anulation {
    display: none;
    visibility: hidden;
} 

button:focus {
    outline: none;
}

